<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      th:with="activeMenuItem='start', headline='Welcome to the Todo Application!'">
<head>
    <title>Start</title>
</head>
<section class="section" layout:fragment="page-content">
    <div class="container">
        <p class="text-center w-75 m-auto">
            The aim of this project was to further strengthen my Java and Spring Boot skills and
            also get familiarized with the process of carrying out an idea from start to
            deployment using AWS technologies.
        </p>
    </div>
</section>
</html>
